{
  "arrowParens": "avoid",
  "bracketSpacing": true,
  "printWidth": 100,
  "singleQuote": true,
  "tabWidth": 2,
  "trailingComma": "all",
  "importOrder": ["^types", "^components", "^compositions", "^api", "^routes", "^consts", "^utils", "^assets/(.*)$", "^[./](?!.*\\.s?css$)", "^[./].*\\.s?css$"]
}
