@import "styles/variables.scss";
@import "styles/mixins.scss";

.page {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: transparent;
}
