// Color Palette
$color-biloba: #baabea;
$color-black-glass: #1c1717c2;
$color-black: #000;
$color-blue-chalk: #e6deff;
$color-butterfly-bush: #7e70ac;
$color-calypso: #30828d;
$color-chalice: #b0b0b0;
$color-chambray: #30478d;
$color-crimson: #df1a1a;
$color-green: green;
$color-mine-shaft: #313131;
$color-shark: #282c34;
$color-tundora: #4c4646;
$color-white: #fff;
$color-yellow: yellow;

// Sizes
$header-height: 75px;
$footer-height: 40px;
$row-height: 30px;

$font-size-3: 14px;
$font-size-4: 18px;
$font-size-5: 22px;

$border-radius-default: 10px;
$border-radius-small: 5px;
$padding-default: 15px;
$padding-small: 10px;

// Shadows
$box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
